 * {
     margin: 0px;
     padding: 0px;
 }

 body {width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background: repeating-radial-gradient( circle,green,pink 10%);*/
    background-image: url(../image/4.jpg);
    background-size: cover  ;
    background-position: center;
    background-attachment: fixed;
    
 }

 table,
 tr,
 th,
 td {
     border: 3px solid rgb(160, 76, 160);padding: 10px;backdrop-filter: blur(40px);
     position: sticky;top: 25px;
     border-radius: 10px;
     
 }

 .container button {
     width: 100%;
     background: transparent;
     padding: 10px;
     background-color: rgb(122, 59, 122);
     color: white;
     font-weight: 200px;
     border-radius: 40px;
     border: none;

 }

 .container button:hover{cursor: pointer;}

 .container select {
     width: 100%;
     background: transparent;
     padding: 10px;
 }

 .container input{background: transparent;
outline: none; padding: 10px; border-radius: 50px;
color: purple; border-color: blueviolet;}

.container{ color: purple;
margin-top: 5%;}

